.container {
  width: 200px; /* Adjust the size as needed */
  height: 200px; /* Adjust the size as needed */
  border-radius: 20px; /* Adjust the border radius as needed */
  overflow: hidden;
  position: relative;
  background-image: url("/public/icon0.png"); /* Path to your background image */
  background-size: cover;
  background-position: center;
}
