.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  cursor: pointer;
}
.controlPanelContainer {
  position: absolute;
  top: 20px; /* Adjust as needed */
  left: 246px; /* Adjust as needed */
  display: flex;
  max-height: 70px;
  gap: 10px; /* Add space between items */
  z-index: 1000; /* Ensure it's above the map */
  width: 100%;
}

.searchBox {
  width: 200px; /* Fixed width */
  align-self: flex-end; /* Align the SearchBox to the right */
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
  border-radius: 8px;
  padding: 8px;
  background-color: #ff8c00;
}
img {
  border-radius: 8px;
}
